exportPattern("^[[:alpha:]]+")
import(MSwM,
    gtools,
    foreach,
    xts,
    MSGARCH,
    sde,
    quantmod,
    magrittr,
    fractalrock,
    ROI,
    matrixcalc,
    corpcor,
    tseries,
    zoo,
    missMDA,
    FactoMineR,
    qcc,
    yuima,
    tseries)
